<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.workever.wk.user.model.vo.User" alias="User" />
		<typeAlias type="com.workever.wk.noticeBoard.model.vo.NoticeBoard" alias="NoticeBoard" />
		<typeAlias type="com.workever.wk.deptBoard.model.vo.DeptBoard" alias="DeptBoard" />
		<typeAlias type="com.workever.wk.anonymousBoard.model.vo.AnonymousBoard" alias="AnonymousBoard" />
		<typeAlias type="com.workever.wk.community.model.vo.CommunityReply" alias="CommunityReply" />
		<typeAlias type="com.workever.wk.community.model.vo.CommunityFiles" alias="CommunityFiles" />
		<typeAlias type="com.workever.wk.report.model.vo.Report" alias="Report" />
		<typeAlias type="com.workever.wk.approval.model.vo.Approval" alias="Approval" />
		<typeAlias type="com.workever.wk.approval.model.vo.ApprovalBuisnessTripForm" alias="ApprovalBuisnessTripForm" />
		<typeAlias type="com.workever.wk.approval.model.vo.ApprovalDayOffForm" alias="ApprovalDayOffForm" />
		<typeAlias type="com.workever.wk.approval.model.vo.ApprovalExpenseReportForm" alias="ApprovalExpenseReportForm" />
		<typeAlias type="com.workever.wk.approval.model.vo.ApprovalOverTimeForm" alias="ApprovalOverTimeForm" />
		<typeAlias type="com.workever.wk.approval.model.vo.ApprovalWorkReportForm" alias="ApprovalWorkReportForm" />
		<typeAlias type="com.workever.wk.approval.model.vo.ApprovalForm" alias="ApprovalForm" />
		<typeAlias type="com.workever.wk.approval.model.vo.ApprovalLine" alias="ApprovalLine" />
		<typeAlias type="com.workever.wk.user.model.vo.Company" alias="Company"/>
		<typeAlias type="com.workever.wk.project.model.vo.Project" alias="Project" />
		<typeAlias type="com.workever.wk.commute.model.vo.Commute" alias="Commute"/>
		<typeAlias type="com.workever.wk.user.model.vo.Dept" alias="Dept"/>
		<typeAlias type="com.workever.wk.workBoard.model.vo.workBoard" alias="workBoard"/>
		<typeAlias type="com.workever.wk.mail.model.vo.Mail" alias="Mail"/>
		<typeAlias type="com.workever.wk.mail.model.vo.MailFiles" alias="MailFiles"/>
		<typeAlias type="com.workever.wk.meetingRoom.model.vo.MeetingRoom" alias="MeetingRoom"/>
		<typeAlias type="com.workever.wk.meetingRoom.model.vo.MeetingRoomReservation" alias="MeetingRoomReservation"/>
		<typeAlias type="com.workever.wk.calendar.model.vo.Calendar" alias="Calendar"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/user-mapper.xml" />
		<mapper resource="/mappers/noticeBoard-mapper.xml" />
		<mapper resource="/mappers/deptBoard-mapper.xml" />
		<mapper resource="/mappers/anonymousBoard-mapper.xml" />
		<mapper resource="/mappers/communityReply-mapper.xml" />
		<mapper resource="/mappers/report-mapper.xml" />
		<mapper resource="/mappers/approval-mapper.xml" />
		<mapper resource="/mappers/project-mapper.xml" />
		<mapper resource="/mappers/commute-mapper.xml" />
		<mapper resource="/mappers/mail-mapper.xml" />
		<mapper resource="/mappers/meetingRoom-mapper.xml" />
		<mapper resource="/mappers/calendar-mapper.xml" />
		<mapper resource="/mappers/chatting-mapper.xml" />
	</mappers>

</configuration>