<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">

	<resultMap id="userWriterApprovalListResult" type="Approval">
		<result column="apvl_no" property="apvlNo" /> 
		<result column="apvl_writer" property="apvlWriter" /> 
		<result column="apvl_form_name" property="apvlFormNo" /> 
		<result column="apvl_title" property="apvlTitle" /> 
		<result column="apvl_create_date" property="apvlCreateDate" /> 
		<result column="apvl_status" property="apvlStatus" /> 
	</resultMap>
	
	<resultMap id="userReceiveApprovalListResult" type="Approval">
		<result column="apvl_no" property="apvlNo" /> 
		<result column="user_name" property="apvlWriterName" /> 
		<result column="user_rank" property="apvlWriterRank" />
		<result column="apvl_form_name" property="apvlFormNo" /> 
		<result column="apvl_title" property="apvlTitle" /> 
		<result column="apvl_create_date" property="apvlCreateDate" /> 
		<result column="apvl_line_status" property="apvlStatus" /> 
	</resultMap>
	
	<resultMap id="approvalLineListResult" type="ApprovalLine">
		<result column="apvl_no" property="apvlNo" />
		<result column="user_no" property="userNo" />
		<result column="user_name" property="userName" />
		<result column="user_rank" property="userRank" />
		<result column="apvl_line_turn" property="apvlLineTurn" />
		<result column="apvl_date" property="apvlDate" />
		<result column="apvl_line_status" property="apvlLineStatus" />
	</resultMap>
		
	<resultMap id="userListResult" type="User">
		<result column="user_no" property="userNo" />
		<result column="user_name" property="userName" />
		<result column="dept_name" property="deptName" />
		<result column="user_rank" property="userRank" />
		<result column="user_filepath" property="userFilePath" />
	</resultMap>
	
	<resultMap id="deptListResult" type="Dept">
		<result column="dept_no" property="deptNo" />
		<result column="dept_name" property="deptName" />
	</resultMap>
	
	<select id="userWriteListCount" resultType="_int">
		select
			   count(*)
		  from approval
		 where not apvl_status = 'D'
		   and apvl_writer = #{loginUserNo}
	</select>
	
	<select id="userWriteApprovalList" resultMap="userWriterApprovalListResult">
		select
		       apvl_no
		     , apvl_writer
		     , apvl_form_name
		     , apvl_title
		     , to_char(apvl_create_date, 'YYYY.MM.DD') as "apvl_create_date"
		     , apvl_status
		  from approval
		  join approval_form using (apvl_form_no)
		 where not apvl_status = 'D'
		   and apvl_writer = #{loginUserNo}
		 order
		    by apvl_no desc   
	</select>
	
	<select id="writeIngCategoryListCount" resultType="_int">
		select
			   count(*)
		  from approval
		 where apvl_status in ('I', 'S')
		   and apvl_writer = #{loginUserNo}
	</select>
	
	<select id="writeIngCategoryList" resultMap="userWriterApprovalListResult">
		select
		       apvl_no
		     , apvl_writer
		     , apvl_form_name
		     , apvl_title
		     , to_char(apvl_create_date, 'YYYY.MM.DD') as "apvl_create_date"
		     , apvl_status
		  from approval
		  join approval_form using (apvl_form_no)
		 where apvl_status in ('I', 'S')
		   and apvl_writer = #{loginUserNo}
		 order
		    by apvl_no desc
	</select>
	
	<select id="writeCompleteCategoryListCount" resultType="_int">
		select
			   count(*)
		  from approval
		 where apvl_status in ('C', 'R')
		   and apvl_writer = #{loginUserNo}
	</select>
	
	<select id="writeCompleteCategoryList" resultMap="userWriterApprovalListResult">
		select
		       apvl_no
		     , apvl_writer
		     , apvl_form_name
		     , apvl_title
		     , to_char(apvl_create_date, 'YYYY.MM.DD') as "apvl_create_date"
		     , apvl_status
		  from approval
		  join approval_form using (apvl_form_no)
		 where apvl_status in ('C', 'R')
		   and apvl_writer = #{loginUserNo}
		 order
		    by apvl_no desc
	</select>
	
	<select id="userReceiveListCount" resultType="_int">
		select
			   count(*)
		  from approval
		  join approval_line using (apvl_no)
		 where not apvl_status = 'D'
		   and user_no = #{loginUserNo}
	</select>
	
	<select id="userReceiveApprovalList" resultMap="userReceiveApprovalListResult">
		select
		       a.apvl_no as "apvl_no"
		     , user_name
		     , user_rank
		     , apvl_form_name
		     , apvl_title
		     , to_char(apvl_create_date, 'YYYY.MM.DD') as "apvl_create_date"
		     , apvl_line_status
		  from approval a
		  join approval_form af on (a.apvl_form_no = af.apvl_form_no)
          join approval_line al on (a.apvl_no = al.apvl_no)
          join Users u on (a.apvl_writer = u.user_no)
		 where not apvl_status = 'D'
		   and al.user_no = #{loginUserNo}
		 order
		    by a.apvl_no desc
	</select>
	
	<select id="approvalLineList" resultMap="approvalLineListResult">
		select
		       apvl_no
		     , user_no
		     , user_name
		     , user_rank
		     , apvl_line_turn
		     , apvl_date
		     , apvl_line_status
		  from approval_line
		  join users using (user_no)
		  where apvl_no = #{ apvlNo }
		  order
		     by apvl_line_turn
	</select>
	
	<select id="receiveIngCategoryList" resultMap="userReceiveApprovalListResult">
		select
		       a.apvl_no as "apvl_no"
		     , user_name
		     , user_rank
		     , apvl_form_name
		     , apvl_title
		     , to_char(apvl_create_date, 'YYYY.MM.DD') as "apvl_create_date"
		     , apvl_line_status
		  from approval a
		  join approval_form af on (a.apvl_form_no = af.apvl_form_no)
          join approval_line al on (a.apvl_no = al.apvl_no)
          join Users u on (a.apvl_writer = u.user_no)
		 where apvl_line_status = 'S'
		   and al.user_no = #{loginUserNo}
		 order
		    by a.apvl_no desc
	</select>
	
	<select id="receiveIngCategoryListCount" resultType="_int">
		select
			   count(*)
		  from approval
		  join approval_line using (apvl_no)
		 where apvl_line_status = 'S'
		   and user_no = #{loginUserNo}
	</select>
	
	<select id="receiveCompleteCategoryListCount" resultType="_int">
		select
			   count(*)
		  from approval
		  join approval_line using (apvl_no)
		 where apvl_line_status in ('A', 'R')
		   and user_no = #{loginUserNo}
	</select>
	
	<select id="receiveCompleteCategoryList" resultMap="userReceiveApprovalListResult">
		select
		       a.apvl_no as "apvl_no"
		     , user_name
		     , user_rank
		     , apvl_form_name
		     , apvl_title
		     , to_char(apvl_create_date, 'YYYY.MM.DD') as "apvl_create_date"
		     , apvl_line_status
		  from approval a
		  join approval_form af on (a.apvl_form_no = af.apvl_form_no)
          join approval_line al on (a.apvl_no = al.apvl_no)
          join Users u on (a.apvl_writer = u.user_no)
		 where apvl_line_status in ('A', 'R')
		   and al.user_no = #{loginUserNo}
		 order
		    by a.apvl_no desc
	</select>
	
	<select id="insertUserDeptName" resultType="string">
		select
			   dept_name
	      from users
	      join dept using (dept_no)
	     where user_no = #{loginUserNo}
	</select>
	
	<select id="selectDeptList" resultMap="deptListResult">
		select
			   dept_no
		     , dept_Name
		  from dept
		 where com_No = #{comNo}
	</select>
	
	<select id="selectDeptUserList" resultMap="userListResult" parameterType="Map">
		select
		       user_no
		     , user_name
		     , dept_name
		     , user_rank
		     , user_filepath
		  from users u
		  join dept d using (dept_no)
		 where not user_no in (#{loginUserNo}, (select 
		                                          user_no
		                                     from users 
		                                    where com_no = #{comNo}
		                                      and user_auth = 'A'))
		   and u.com_no = #{comNo}
		   and dept_no = #{deptNo}
	</select>
	
	<select id="userSearchList" resultMap="userListResult" parameterType="Map">
		select
		       user_no
		     , user_name
		     , dept_name
		     , user_rank
		     , user_filepath
		  from users u
		  join dept d using (dept_no)
		 where not user_no in (#{loginUserNo}, (select 
                                          user_no
                                     from users 
                                    where com_no = #{comNo}
                                      and user_auth = 'A'))
		   and u.com_no = #{comNo}
		   and (dept_name like '%'||#{keyword}||'%' or user_name like '%'||#{keyword}||'%')
	</select>
	
	<select id="selectUser" resultMap="userListResult">
		select
		       user_no
		     , user_name
		     , dept_name
		     , user_rank
		     , user_filepath
		  from users
		  join dept using (dept_no)
		 where user_no = #{selectUserNo}
	</select>
	
	<insert id="insertApvlDayOffForm" parameterType="Map">
		insert all
		  into approval 
		  (
		    apvl_no
		  , apvl_writer
		  , apvl_form_no
		  , apvl_title) 
		  values 
		  (
		    seq_approval.nextval
		  , #{apvl.apvlWriter}
		  , #{apvl.apvlFormNo}
		  , #{apvl.apvlTitle}
		  )
		  into approval_dayoff
		  (
		    apvl_no
		  , off_start_date
		  , off_end_date
		  , off_total_date
		  , off_kind
		  , off_reason)
		  values
		  (
		    seq_approval.currval
		  , #{apvlDof.offStartDate}
		  , #{apvlDof.offEndDate}
		  , to_date(#{apvlDof.offEndDate}, 'YYYY-MM-DD') - to_date(#{apvlDof.offStartDate}, 'YYYY-MM-DD')+1
		  , #{apvlDof.offKind}
		  , #{apvlDof.offReason}
		  )
		  select * from dual

	</insert>
	
	<insert id="insertApvlLine" parameterType="Map">
		  insert 
		  into approval_line 
		  (
		    apvl_line_no
		  , apvl_no
		  , user_no
		  , apvl_line_turn) 
		  select 
		  		 seq_approval_line.nextval
		  		, seq_approval.currval
		  		, A.*
		  	from(
		  <foreach collection="lineUserNo" item="line" index="index" separator="UNION ALL">
			  select  
				   #{line}
				  , #{index} +1
				  from dual
	 		  </foreach>) A
	</insert>
	
	
</mapper>