<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">

	<resultMap id="userWriterApprovalListResult" type="Approval">
		<result column="apvl_no" property="apvlNo" /> 
		<result column="apvl_writer" property="apvlWriter" /> 
		<result column="apvl_form_name" property="apvlFormNo" /> 
		<result column="apvl_title" property="apvlTitle" /> 
		<result column="apvl_create_date" property="apvlCreateDate" /> 
		<result column="apvl_status" property="apvlStatus" /> 
	</resultMap>
	
	<resultMap id="userReceiveApprovalListResult" type="Approval">
		<result column="apvl_no" property="apvlNo" /> 
		<result column="user_name" property="apvlWriterName" /> 
		<result column="user_rank" property="apvlWriterRank" />
		<result column="apvl_form_name" property="apvlFormNo" /> 
		<result column="apvl_title" property="apvlTitle" /> 
		<result column="apvl_create_date" property="apvlCreateDate" /> 
		<result column="apvl_line_status" property="apvlStatus" /> 
	</resultMap>
	
	<resultMap id="selectApprovalResult" type="Approval">
		<result column="apvl_no" property="apvlNo" />
		<result column="apvl_writer" property="apvlWriter" />
		<result column="apvl_form_no" property="apvlFormNo" />
		<result column="apvl_title" property="apvlTitle" />
		<result column="apvl_create_date" property="apvlCreateDate" />
		<result column="apvl_status" property="apvlStatus" />
		<result column="user_name" property="apvlWriterName" />
		<result column="user_rank" property="apvlWriterRank" />
		<result column="dept_name" property="apvlWriterDeptName" />
	</resultMap>
	
	<resultMap id="approvalLineListResult" type="ApprovalLine">
		<result column="apvl_no" property="apvlNo" />
		<result column="user_no" property="userNo" />
		<result column="user_name" property="userName" />
		<result column="user_rank" property="userRank" />
		<result column="apvl_line_turn" property="apvlLineTurn" />
		<result column="apvl_date" property="apvlDate" />
		<result column="apvl_line_status" property="apvlLineStatus" />
		<result column="apvl_return_comment" property="apvlReturnComment"/>
		<result column="user_filepath" property="apvlLineFilePath"/>
		<result column="dept_name" property="apvlLineDeptName"/>
	</resultMap>
	
	<resultMap id="formListResult" type="ApprovalForm">
		<result column="apvl_form_no" property="apvlFormNo"/>
		<result column="apvl_form_name" property="apvlFormName"/>
		<result column="apvl_form_status" property="apvlFormStatus"/>
	</resultMap>
		
	<resultMap id="userListResult" type="User">
		<result column="user_no" property="userNo" />
		<result column="user_name" property="userName" />
		<result column="dept_name" property="deptName" />
		<result column="user_rank" property="userRank" />
		<result column="user_filepath" property="userFilePath" />
	</resultMap>
	
	<resultMap id="deptListResult" type="Dept">
		<result column="dept_no" property="deptNo" />
		<result column="dept_name" property="deptName" />
	</resultMap>
	
	<resultMap id="selectApvlDayOffResult" type="ApprovalDayOffForm">
		<result column="apvl_no" property="apvlNo" />
		<result column="off_start_date" property="offStartDate" />
		<result column="off_end_date" property="offEndDate" />
		<result column="off_total_date" property="offTotalDate" />
		<result column="off_kind" property="offKind" />
		<result column="off_reason" property="offReason" />
	</resultMap>
	
	<resultMap id="selectApvlOverTimeResult" type="ApprovalOverTimeForm">
		<result column="apvl_no" property="apvlNo" />
		<result column="ot_date" property="otDate" />
		<result column="ot_working_hours" property="otWorkingHours" />
		<result column="ot_title" property="otTitle" />
		<result column="ot_content" property="otContent" />
	</resultMap>
	
	<resultMap id="selectWorkReportResult" type="ApprovalWorkReportForm">
		<result column="apvl_no" property="apvlNo" />
		<result column="work_name" property="workName" />
		<result column="work_date" property="workDate" />
		<result column="work_plan" property="workPlan" />
	</resultMap>
	
	<resultMap id="selectExpenseReportResult" type="ApprovalExpenseReportForm">
		<result column="apvl_no" property="apvlNo" />
		<result column="er_date" property="erDate" />
		<result column="er_amount" property="erAmount" />
		<result column="er_purpose" property="erPurpose" />
	</resultMap>
	
	<resultMap id="selectBuisnessTripResult" type="ApprovalBuisnessTripForm">
		<result column="apvl_no" property="apvlNo" />
		<result column="bt_place" property="btPlace" />
		<result column="bt_start_date" property="btStartDate" />
		<result column="bt_End_date" property="btEndDate" />
		<result column="bt_expense" property="btExpense" />
		<result column="bt_purpose" property="btPurpose" />
	</resultMap>
	
	<select id="userWriteListCount" resultType="_int">
		select
			   count(*)
		  from approval
		 where not apvl_status = 'D'
		   and apvl_writer = #{loginUserNo}
	</select>
	
	<select id="userWriteApprovalList" resultMap="userWriterApprovalListResult">
		select
		       apvl_no
		     , apvl_writer
		     , apvl_form_name
		     , apvl_title
		     , to_char(apvl_create_date, 'YYYY.MM.DD') as "apvl_create_date"
		     , apvl_status
		  from approval
		  join approval_form using (apvl_form_no)
		 where not apvl_status = 'D'
		   and apvl_writer = #{loginUserNo}
		 order
		    by apvl_no desc   
	</select>
	
	<select id="writeIngCategoryListCount" resultType="_int">
		select
			   count(*)
		  from approval
		 where apvl_status in ('I', 'S')
		   and apvl_writer = #{loginUserNo}
	</select>
	
	<select id="writeIngCategoryList" resultMap="userWriterApprovalListResult">
		select
		       apvl_no
		     , apvl_writer
		     , apvl_form_name
		     , apvl_title
		     , to_char(apvl_create_date, 'YYYY.MM.DD') as "apvl_create_date"
		     , apvl_status
		  from approval
		  join approval_form using (apvl_form_no)
		 where apvl_status in ('I', 'S')
		   and apvl_writer = #{loginUserNo}
		 order
		    by apvl_no desc
	</select>
	
	<select id="writeCompleteCategoryListCount" resultType="_int">
		select
			   count(*)
		  from approval
		 where apvl_status in ('C', 'R')
		   and apvl_writer = #{loginUserNo}
	</select>
	
	<select id="writeCompleteCategoryList" resultMap="userWriterApprovalListResult">
		select
		       apvl_no
		     , apvl_writer
		     , apvl_form_name
		     , apvl_title
		     , to_char(apvl_create_date, 'YYYY.MM.DD') as "apvl_create_date"
		     , apvl_status
		  from approval
		  join approval_form using (apvl_form_no)
		 where apvl_status in ('C', 'R')
		   and apvl_writer = #{loginUserNo}
		 order
		    by apvl_no desc
	</select>
	
	<select id="userReceiveListCount" resultType="_int">
		select
		      count(*)     
		 from approval a
		 join approval_form af on (a.apvl_form_no = af.apvl_form_no)
		 join approval_line al on (a.apvl_no = al.apvl_no)
		 join Users u on (a.apvl_writer = u.user_no)
		where (apvl_line_status = 'S'
		  and apvl_status in ('S', 'I')
		  and al.user_no = #{loginUserNo})
		   or (apvl_line_status in ('A', 'R')
		  and al.user_no = #{loginUserNo})
	</select>
	
	<select id="userReceiveApprovalList" resultMap="userReceiveApprovalListResult">
		select
		       a.apvl_no as "apvl_no"
		     , user_name
		     , user_rank
		     , apvl_form_name
		     , apvl_title
		     , to_char(apvl_create_date, 'YYYY.MM.DD') as "apvl_create_date"
		     , apvl_line_status
		  from approval a
		  join approval_form af on (a.apvl_form_no = af.apvl_form_no)
          join approval_line al on (a.apvl_no = al.apvl_no)
          join Users u on (a.apvl_writer = u.user_no)
		 where (apvl_line_status = 'S'
           and apvl_status in ('S', 'I')
		   and al.user_no = #{loginUserNo})
            or (apvl_line_status in ('A', 'R')
		   and al.user_no = #{loginUserNo})
          order
		    by a.apvl_no desc  
	</select>
	
	<select id="approvalLineList" resultMap="approvalLineListResult">
		select
		       apvl_no
		     , user_no
		     , user_name
		     , user_rank
		     , apvl_line_turn
		     , apvl_date
		     , apvl_line_status
		     , apvl_return_comment
		     , user_filepath
		     , dept_name
		  from approval_line
		  join users using (user_no)
		  join dept using (dept_no)
		  where apvl_no = #{ apvlNo }
		  order
		     by apvl_line_turn
	</select>
	
	<select id="receiveIngCategoryList" resultMap="userReceiveApprovalListResult">
		select
		       a.apvl_no as "apvl_no"
		     , user_name
		     , user_rank
		     , apvl_form_name
		     , apvl_title
		     , to_char(apvl_create_date, 'YYYY.MM.DD') as "apvl_create_date"
		     , apvl_line_status
		  from approval a
		  join approval_form af on (a.apvl_form_no = af.apvl_form_no)
          join approval_line al on (a.apvl_no = al.apvl_no)
          join Users u on (a.apvl_writer = u.user_no)
		 where apvl_line_status = 'S'
           and apvl_status in ('S', 'I')
		   and al.user_no = #{loginUserNo}
		 order
		    by a.apvl_no desc
	</select>
	
	<select id="receiveIngCategoryListCount" resultType="_int">
		select
			   count(*)
		  from approval
		  join approval_line using (apvl_no)
		 where apvl_line_status = 'S'
           and apvl_status in ('S', 'I')
		   and user_no = #{loginUserNo}
	</select>
	
	<select id="receiveCompleteCategoryListCount" resultType="_int">
		select
			   count(*)
		  from approval
		  join approval_line using (apvl_no)
		 where apvl_line_status in ('A', 'R')
		   and user_no = #{loginUserNo}
	</select>
	
	<select id="receiveCompleteCategoryList" resultMap="userReceiveApprovalListResult">
		select
		       a.apvl_no as "apvl_no"
		     , user_name
		     , user_rank
		     , apvl_form_name
		     , apvl_title
		     , to_char(apvl_create_date, 'YYYY.MM.DD') as "apvl_create_date"
		     , apvl_line_status
		  from approval a
		  join approval_form af on (a.apvl_form_no = af.apvl_form_no)
          join approval_line al on (a.apvl_no = al.apvl_no)
          join Users u on (a.apvl_writer = u.user_no)
		 where apvl_line_status in ('A', 'R')
		   and al.user_no = #{loginUserNo}
		 order
		    by a.apvl_no desc
	</select>
	
	<select id="insertUserDeptName" resultType="string">
		select
			   dept_name
	      from users
	      join dept using (dept_no)
	     where user_no = #{loginUserNo}
	</select>
	
	<select id="selectDeptList" resultMap="deptListResult">
		select
			   dept_no
		     , dept_Name
		  from dept
		 where com_No = #{comNo}
	</select>
	
	<select id="selectDeptUserList" resultMap="userListResult" parameterType="Map">
		select
		       user_no
		     , user_name
		     , dept_name
		     , user_rank
		     , user_filepath
		  from users u
		  join dept d using (dept_no)
		 where not user_no in (#{loginUserNo}, (select 
		                                          user_no
		                                     from users 
		                                    where com_no = #{comNo}
		                                      and user_auth = 'A'))
		   and u.com_no = #{comNo}
		   and dept_no = #{deptNo}
	</select>
	
	<select id="userSearchList" resultMap="userListResult" parameterType="Map">
		select
		       user_no
		     , user_name
		     , dept_name
		     , user_rank
		     , user_filepath
		  from users u
		  join dept d using (dept_no)
		 where not user_no in (#{loginUserNo}, (select 
                                          user_no
                                     from users 
                                    where com_no = #{comNo}
                                      and user_auth = 'A'))
		   and u.com_no = #{comNo}
		   and (dept_name like '%'||#{keyword}||'%' or user_name like '%'||#{keyword}||'%')
	</select>
	
	<select id="selectUser" resultMap="userListResult">
		select
		       user_no
		     , user_name
		     , dept_name
		     , user_rank
		     , user_filepath
		  from users
		  join dept using (dept_no)
		 where user_no = #{selectUserNo}
	</select>
	
	<select id="selectFormList" resultMap="formListResult">
		select
			   apvl_form_no
			 , apvl_form_name
			 , apvl_form_status
		  from approval_form
		 where apvl_form_status = 'Y'
	</select>
	
	<insert id="insertApvlLine" parameterType="Map">
		  insert 
		  into approval_line 
		  (
		    apvl_line_no
		  , apvl_no
		  , user_no
		  , apvl_line_turn) 
		  select 
		  		 seq_approval_line.nextval
		  		, seq_approval.currval
		  		, A.*
		  	from(
		  <foreach collection="lineUserNo" item="line" index="index" separator="UNION ALL">
			  select  
				   #{line}
				  , #{index} +1
				  from dual
	 		  </foreach>) A
	</insert>
	
	<insert id="insertApproval" parameterType="Map">
		insert all
		  into approval 
		  (
		    apvl_no
		  , apvl_writer
		  , apvl_form_no
		  , apvl_title) 
		  values 
		  (
		    seq_approval.nextval
		  , #{apvl.apvlWriter}
		  , #{apvl.apvlFormNo}
		  , #{apvl.apvlTitle}
		  )
		  <choose>
		  	<when test="apvl.apvlFormNo == 1">
		  		into approval_dayoff
				  (
				    apvl_no
				  , off_start_date
				  , off_end_date
				  , off_total_date
				  , off_kind
				  , off_reason)
				  values
				  (
				    seq_approval.currval
				  , #{form.offStartDate}
				  , #{form.offEndDate}
				  , to_date(#{form.offEndDate}, 'YYYY-MM-DD') - to_date(#{form.offStartDate}, 'YYYY-MM-DD')+1
				  , #{form.offKind}
				  , #{form.offReason}
				  )
		  	</when>
		  	<when test="apvl.apvlFormNo == 2">
		  		into approval_overtime
				  (
				    apvl_no
				  , ot_date
				  , ot_working_hours
				  , ot_title
				  , ot_content)
				  values
				  (
				    seq_approval.currval
				  , #{form.otDate}
				  , #{form.otWorkingHours}
				  , #{form.otTitle}
				  , #{form.otContent}
				  )
		  	</when>
		  	<when test="apvl.apvlFormNo == 3">
		  		into approval_workreport
				  (
				    apvl_no
				  , work_name
				  , work_date
				  , work_plan)
				  values
				  (
				    seq_approval.currval
				  , #{form.workName}
				  , #{form.workDate}
				  , #{form.workPlan}
				  )
		  	</when>
		  	<when test="apvl.apvlFormNo == 4">
		  		into approval_expensereport
				  (
				    apvl_no
				  , er_date
				  , er_amount
				  , er_purpose)
				  values
				  (
				    seq_approval.currval
				  , #{form.erDate}
				  , #{form.erAmount}
				  , #{form.erPurpose}
				  )
		  	</when>
		  	<otherwise>
		  		into approval_buisnesstrip
				  (
				    apvl_no
				  , bt_place
				  , bt_start_date
				  , bt_end_date
				  , bt_expense
				  , bt_purpose)
				  values
				  (
				    seq_approval.currval
				  , #{form.btPlace}
				  , #{form.btStartDate}
				  , #{form.btEndDate}
				  , #{form.btExpense}
				  , #{form.btPurpose}
				  )
		  	</otherwise>
		  </choose>
		  
		  select * from dual

	</insert>
	

	
	<select id="selectApproval" resultMap="selectApprovalResult">
		select 
		       apvl_no
		     , apvl_Writer
		     , apvl_form_no
		     , apvl_title
		     , to_char(apvl_create_date, 'YYYY.MM.DD') as "apvl_create_date"
		     , apvl_status
		     , user_name
		     , user_rank
		     , dept_name
		  from approval
		  join users on (apvl_writer = user_no)
		  join dept using (dept_no)
		  where apvl_no = #{apvlNo}
	</select>
	
	<select id="selectDayOffForm" resultMap="selectApvlDayOffResult">
		select 
		         apvl_no
		       , off_start_date
		       , off_end_date
		       , off_total_date
		       , off_kind
		       , off_reason
		    from approval_dayoff
		   where apvl_no = #{ apvlNo }
	</select>
	
	<select id="selectOverTimeForm" resultMap="selectApvlOverTimeResult">
		select 
		         apvl_no
		       , ot_date
		       , ot_working_hours
		       , ot_title
		       , ot_content
		    from approval_overtime
		   where apvl_no = #{ apvlNo }
	</select>
	
	<select id="selectWorkReportForm" resultMap="selectWorkReportResult">
		select 
		         apvl_no
		       , work_name
		       , work_date
		       , work_plan
		    from approval_workreport
		   where apvl_no = #{ apvlNo }
	</select>
	
	<select id="selectExpenseReportForm" resultMap="selectExpenseReportResult">
		select 
		         apvl_no
		       , er_date
		       , er_amount
		       , er_purpose
		    from approval_expensereport
		   where apvl_no = #{ apvlNo }
	</select>
	
	<select id="selectBuisnessTripForm" resultMap="selectBuisnessTripResult">
		select 
		         apvl_no
		       , bt_place
		       , bt_start_date
		       , bt_end_date
		       , bt_expense
		       , bt_purpose
		    from approval_buisnesstrip
		   where apvl_no = #{ apvlNo }
	</select>
	
	<update id="deleteApproval">
		update
		       approval
		   set apvl_status = 'D'
		 where apvl_no = #{apvlNo}
	</update>
	
	<update id="returnApproval">
		update
			   approval
		   set apvl_status = 'R'
		 where apvl_no = #{ apvlNo }
	</update>
	
	<update id="returnLine">
		update
			   approval_line
		   set apvl_line_status = 'R'
		     , apvl_return_comment = #{ apvlReturnComment }
		     , apvl_date = to_char(sysdate, 'YYYY.MM.DD HH24:MI')
		 where apvl_no = #{ apvlNo }
		   and user_no = #{ userNo }
	</update>
	
	<update id="approveApproval">
		update
			   approval
		   set apvl_status = 'I'
		 where apvl_no = #{ apvlNo }
	</update>
	
	<update id="approveLine">
		update
			   approval_line
		   set apvl_line_status = 'A'
		     , apvl_date = to_char(sysdate, 'YYYY.MM.DD HH24:MI')
		 where apvl_no = #{ apvlNo }
		   and user_no = #{ userNo }
	</update>
	
	<update id="lastApproveApproval">
		update
			   approval
		   set apvl_status = 'C'
		 where apvl_no = #{ apvlNo }
	</update>
	
	<update id="lastApproveLine">
		update
			   approval_line
		   set apvl_line_status = 'A'
		     , apvl_date = to_char(sysdate, 'YYYY.MM.DD HH24:MI')
		 where apvl_no = #{ apvlNo }
		   and user_no = #{ userNo }
	</update>
	
	<update id="userUseDateUpdate">
		update 
	          users
	      set user_use_date = user_use_date + (select off_total_date
	                                             from approval_dayoff
	                                            where apvl_no = #{ apvlNo })
	    where user_no = (select apvl_writer
	                       from approval
	                      where apvl_no = #{ apvlNo })
	</update>
	
	<update id="approvalUpdate">
		update
			   approval
		   set apvl_title = #{apvl.apvlTitle}
		 where apvl_no = #{apvl.apvlNo}
	</update>
	
	<update id="approvalFormUpdate" parameterType="Map">
		update
		<choose>
			<when test="apvl.apvlFormNo == 1">
					approval_dayoff
				set off_start_date = #{form.offStartDate}
				  , off_end_date = #{form.offEndDate}
				  , off_total_date = to_date(#{form.offEndDate}, 'YYYY-MM-DD') - to_date(#{form.offStartDate}, 'YYYY-MM-DD')+1
				  , off_kind = #{form.offKind}
				  , off_Reason = #{form.offReason}
			</when>
			<when test="apvl.apvlFormNo == 2">
					approval_overtime
				set ot_date = #{form.otDate}
				  , ot_working_hours = #{form.otWorkingHours}
				  , ot_title = #{form.otTitle}
				  , ot_content = #{form.otContent}
			</when>
			<when test="apvl.apvlFormNo == 3">
					approval_workreport
				set work_name = #{form.workName}
				  , work_date = #{form.workDate}
				  , work_plan = #{form.workPlan}
			</when>
			<when test="apvl.apvlFormNo == 4">
					approval_expensereport
				set er_date = #{form.erDate}
				  , er_amount = #{form.erAmount}
				  , er_purpose = #{form.erPurpose}
			</when>
			<otherwise>
					approval_buisnesstrip
				set bt_place = #{form.btPlace}
				  , bt_start_date = #{form.btStartDate}
				  , bt_end_date = #{form.btEndDate}
				  , bt_expense = #{form.btExpense}
				  , bt_purpose = #{form.btPurpose}
			</otherwise>
		</choose>
		 where apvl_no = #{form.apvlNo}
	</update>
	
	<delete id="deleteApvlLine" parameterType="Map">
		delete
		  from approval_line
		 where apvl_no = #{apvl.apvlNo}
	</delete>
	
	<insert id="updateApvlLine" parameterType="Map">
		insert 
		  into approval_line 
		  (
		    apvl_line_no
		  , apvl_no
		  , user_no
		  , apvl_line_turn) 
		  select 
		  		 seq_approval_line.nextval
		  		, #{apvl.apvlNo}
		  		, A.*
		  	from(
		  <foreach collection="lineUserNo" item="line" index="index" separator="UNION ALL">
			  select  
				   #{line}
				  , #{index} +1
				  from dual
 		  </foreach>) A
	</insert>
	
	<select id="searchWriteApvlListCount" resultType="_int" parameterType="Map">
		select
			   count(*)
		  from approval
          join approval_form using (apvl_form_no)
		 where not apvl_status = 'D'
		   and apvl_writer = #{loginUserNo}
		   <choose>
		   		<when test="category == 'title'">
		   			and apvl_title like '%'||#{keyword}||'%'
		   		</when>
		   		<otherwise>
		           and apvl_form_name like '%'||#{keyword}||'%'
		   		</otherwise>
		   </choose>
	</select>
	
	<select id="searchWriteApvlList" resultMap="userWriterApprovalListResult" parameterType="Map">
		select
		       apvl_no
		     , apvl_writer
		     , apvl_form_name
		     , apvl_title
		     , to_char(apvl_create_date, 'YYYY.MM.DD') as "apvl_create_date"
		     , apvl_status
		  from approval
		  join approval_form using (apvl_form_no)
		 where not apvl_status = 'D'
		   and apvl_writer = #{loginUserNo}
           <choose>
		   		<when test="category == 'title'">
		   			and apvl_title like '%'||#{keyword}||'%'
		   		</when>
		   		<otherwise>
		           and apvl_form_name like '%'||#{keyword}||'%'
		   		</otherwise>
		   </choose>
		 order
		    by apvl_no desc   
	</select>
	
	<select id="searchReceiveApvlListCount" resultType="_int">
		select
		      count(*)     
		 from approval a
		 join approval_form af on (a.apvl_form_no = af.apvl_form_no)
		 join approval_line al on (a.apvl_no = al.apvl_no)
		 join Users u on (a.apvl_writer = u.user_no)
		where ((apvl_line_status = 'S'
		  and apvl_status in ('S', 'I')
		  and al.user_no = #{loginUserNo})
		   or (apvl_line_status in ('A', 'R')
		  and al.user_no = #{loginUserNo}))
		  <choose>
		  	<when test="category == 'title'">
		  		and a.apvl_title like '%'||#{keyword}||'%'
		  	</when>
		  	<when test="category == 'kind'">
		         and af.apvl_form_name like '%'||#{keyword}||'%'
		  	</when>
		  	<otherwise>
		  		and u.user_name like '%'||#{keyword}||'%'
		  	</otherwise>
		  </choose>
	</select>
	
	<select id="searchReceiveApvlList" resultMap="userReceiveApprovalListResult">
		select
		       a.apvl_no as "apvl_no"
		     , user_name
		     , user_rank
		     , apvl_form_name
		     , apvl_title
		     , to_char(apvl_create_date, 'YYYY.MM.DD') as "apvl_create_date"
		     , apvl_line_status
		  from approval a
		  join approval_form af on (a.apvl_form_no = af.apvl_form_no)
          join approval_line al on (a.apvl_no = al.apvl_no)
          join Users u on (a.apvl_writer = u.user_no)
		 where ((apvl_line_status = 'S'
           and apvl_status in ('S', 'I')
		   and al.user_no = #{loginUserNo})
            or (apvl_line_status in ('A', 'R')
		   and al.user_no = #{loginUserNo}))
		   <choose>
		  	<when test="category == 'title'">
		  		and a.apvl_title like '%'||#{keyword}||'%'
		  	</when>
		  	<when test="category == 'kind'">
		         and af.apvl_form_name like '%'||#{keyword}||'%'
		  	</when>
		  	<otherwise>
		  		and u.user_name like '%'||#{keyword}||'%'
		  	</otherwise>
		  </choose>
          order
		    by a.apvl_no desc
	</select>
</mapper>