<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chattingMapper">

	<resultMap id="chUserResult" type="User">
		<result column="user_no" property="userNo" />
		<result column="dept_no" property="deptNo" />
		<result column="com_no" property="comNo" />
		<result column="user_email" property="userEmail" />
		<result column="user_name" property="userName" />
		<result column="user_phone" property="userPhone" />
		<result column="user_status" property="userStatus" />
		<result column="user_enabled" property="userEnabled" />
		<result column="user_filepath" property="userFilePath" />
		<result column="user_auth" property="userAuth" />
		
		<result column="dept_name" property="deptName" />
	</resultMap>
	
	<select id="abSelectListCount" resultType="_int">
		select
			   count(*)
	      from users
	     where user_enabled = 'Y'
	</select>

	<select id="abSelectList" resultMap="chUserResult">
		select
		       user_no
		     , user_name
		     , dept_name
		     , user_email
		     , user_phone
		     , user_filepath
		  from users
		  join dept using (dept_no)
		 where user_enabled = 'Y'
		 order
    		by user_no desc
	</select>
	
	<select id="abSelectSearchList" resultMap="chUserResult">
		select
		       user_no
		     , user_name
		     , dept_name
		     , user_email
		     , user_phone
		     , user_filepath
             , user_enabled
		  from users
		  join dept using (dept_no)
         where user_status = '재직'
		   and user_enabled = 'Y'
           and (user_name like '%' || #{ keyword } || '%'
               or
               dept_name like '%' || #{ keyword } || '%')
		 order
    		by user_no desc
	</select>

	
	<select id="ivSelectList" resultMap="chUserResult">
		select
		       user_no
		     , dept_name
             , u.com_no
		     , user_name
		     , user_filepath
		  from users u
		  join dept using (dept_no)
		 where user_status = '재직'
		   and user_enabled = 'Y'
		 order
		    by user_name asc
	</select>
	
</mapper>