<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="commuteMapper">
	
	
	<resultMap type="Commute" id="commuteResult">
		<result column="cm_no" property="cmNo" />
		<result column="user_no" property="userNo" />
		<result column="cm_date" property="cmDate" />
		<result column="cm_state" property="cmState" />
		<result column="cm_start_time" property="cmStartTime" />
		<result column="cm_end_time" property="cmEndTime" />
		<result column="cm_working_hours" property="cmWorkingHours" />
		
		<result column="user_name" property="userName" />
	</resultMap>
	
	<select id="cmSelectListCount" resultType="_int">
		select
			   count(*)
		  from commute
		 where user_no = #{ userNo }
	</select>
	
	<select id="cmSelectList" resultMap="commuteResult">
		select 
		       cm_no
		     , user_name
		     , cm_date
		     , cm_state
		     , cm_start_time
		     , cm_end_time
		     , cm_working_hours
		  from commute
		  join users using (user_no)
		 where user_no = #{ userNo }
		 order
		    by cm_no desc
	</select>
	
	<insert id="cmInsertEnter">
		insert
		  into commute
		     (
		       cm_no
		     , user_no
		     , cm_date
		     , cm_start_time
		     )
		     values
		     (
		       seq_commute.nextval
		     , #{ userNo }
		     , to_char(sysdate, 'yyyy-mm-dd')
		     , to_char(sysdate, 'hh24:mi:ss')
		     )
	</insert>
	
	<insert id="cmInertTardiness">
		insert
		  into commute
		     (
		       cm_no
		     , user_no
		     , cm_date
		     , cm_state
		     , cm_start_time
		     )
		     values
		     (
		       seq_commute.nextval
		     , #{ userNo }
		     , to_char(sysdate, 'yyyy-mm-dd')
		     , 2
		     , to_char(sysdate, 'hh24:mi:ss')
		     )
	</insert>
	
	<update id="cmUpdateLeave_gy">
		update commute
		   set cm_end_time = to_char(sysdate, 'hh24:mi:ss')
		     , cm_working_hours = TRUNC((to_date(cm_end_time, 'HH24:MI:SS')-to_date(cm_start_time, 'HH24:MI:SS'))*24 -1) || ':' ||
		                          TRUNC(mod((to_date(cm_end_time, 'HH24:MI:SS') - to_date(cm_start_time, 'HH24:MI:SS'))*24,1)*60)
		 where user_no = #{ userNo }
		   and cm_date = to_char(sysdate, 'yyyy-mm-dd')
	</update>
	
	<update id="cmUpdateLeave">
		update commute
		   set cm_end_time = to_char(sysdate, 'hh24:mi:ss')
		     , cm_working_hours = round((to_date(to_char(sysdate, 'hh24:mi:ss'), 'hh24:mi:ss') - to_date(cm_start_time, 'hh24:mi:ss')) * 24, 1) 
		     , cm_state = case 
		                    when cm_state = 2 then 2 
		                    when to_char(sysdate, 'hh24') <![CDATA[ < ]]> 18 then 4 
		                    else 1 
		                   end
		 where user_no = #{ userNo }
		   and cm_date = to_char(sysdate, 'yyyy-mm-dd')
	</update>
	
	

	
	
	
</mapper>