<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="deptBoardMapper">
	
	<resultMap id="deptBoardResult" type="DeptBoard">
		<result column="db_no" property="dbNo" />
		<result column="dept_no" property="deptNo" />
		<result column="user_no" property="userNo" />
		<result column="db_title" property="dbTitle" />
		<result column="db_content" property="dbContent" />
		<result column="db_category" property="dbCategory" />
		<result column="db_pin" property="dbPin" />
		<result column="db_count" property="dbCount" />
		<result column="db_date" property="dbDate" />
		<result column="db_status" property="dbStatus" />
		<result column="db_reply_count" property="dbReplyCount" />
		<result column="dept_name" property="deptName" />
		<result column="user_name" property="userName" />
		<result column="user_rank" property="userRank" />
	</resultMap>
	
	<resultMap id="communityFilesResult" type="CommunityFiles">
		<result column="cf_no" property="cfNo" />
		<result column="cf_category" property="cfCategory" />
		<result column="cf_ref_no" property="cfRefNo" />
		<result column="cf_origin_name" property="cfOriginName" />
		<result column="cf_change_name" property="cfChangeName" />
		<result column="cf_path" property="cfPath" />
	</resultMap>
	
	<resultMap id="communityReplyResult" type="CommunityReply">
		<result column="cr_no" property="crNo" />
		<result column="cr_user_no" property="crUserNo" />
		<result column="cr_category" property="crCategory" />
		<result column="cr_content" property="crContent" />
		<result column="cr_ref_no" property="crRefNo" />
		<result column="cr_date" property="crDate" />
		<result column="cr_status" property="crStatus" />
		<result column="user_rank" property="userRank" />
		<result column="user_name" property="userName" />
		<result column="userName" property="userFilePath" />
		<result column="dept_name" property="deptName" />
	</resultMap>
	
	<select id="selectDeptName" resultType="string">
		 select
		       dept_name
		  from dept
		 where dept_no = #{deptNo}
	</select>
	
	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from d_board
		 where db_status = 'Y'
		   and dept_no = #{deptNo}
	</select>
	
	<select id="selectDeptBoardList" resultMap="deptBoardResult">
		select
		       db_no
		     , db.dept_no
		     , dept_name
		     , db.user_no
		     , user_name
		     , user_rank
		     , db_title
		     , db_content
		     , db_category
		     , db_count
		     , to_char(db_date, 'YYYY-MM-DD') as "db_date"
		     , db_reply_count
		  from d_board db
		  join dept d on (db.dept_no = d.dept_no)
		  join users u on (db.user_no = u.user_no)
		 where db_status = 'Y'
		   and db.dept_no = #{deptNo}
		 order
		    by db_pin desc, db_no desc
	</select>
	
	<select id="selectAscList" resultMap="deptBoardResult">
		select
		       db_no
		     , db.dept_no
		     , dept_name
		     , db.user_no
		     , user_name
		     , user_rank
		     , db_title
		     , db_content
		     , db_category
		     , db_count
		     , to_char(db_date, 'YYYY-MM-DD') as "db_date"
		     , db_reply_count
		  from d_board db
		  join dept d on (db.dept_no = d.dept_no)
		  join users u on (db.user_no = u.user_no)
		 where db_status = 'Y'
		   and db.dept_no = #{deptNo}
		 order
		    by db_pin desc, db_no asc
	</select>
	
	<update id="increaseCount">
		update
		       d_board
		   set db_count = db_count + 1
		 where db_status = 'Y'     
		   and db_no = #{dbNo}
	</update>
	
	<select id="selectDeptBoard" resultMap="deptBoardResult">
		select
		       db_no
		     , db.dept_no
		     , dept_name
		     , db.user_no
		     , user_name
		     , user_rank
		     , db_title
		     , db_content
		     , db_category
		     , to_char(db_date, 'YYYY-MM-DD') as "db_date"
		  from d_board db
		  join dept d on (db.dept_no = d.dept_no)
		  join users u on (db.user_no = u.user_no)
		 where db_status = 'Y'
		   and db_no = #{dbNo}
	</select>
	
	<select id="selectCommunityFileList" resultMap="communityFilesResult">
		select
		       cf_no
		     , cf_origin_name
		     , cf_change_name
		     , cf_path
		  from community_files
		 where cf_category = 'D'
		   and cf_ref_no = #{dbNo}
	</select>
	
	<insert id="insertDeptBoard">
		insert
		  into d_board
		  (
	  	    db_no
	  	  , dept_no  
	  	  , user_no
	  	  , db_title
	  	  , db_content
	  	  , db_category
	  	  , db_pin
		  )
		  values
		  (
		    seq_d_board.nextval
		  , #{deptNo}  
		  , #{userNo}
		  , #{dbTitle}
		  , #{dbContent}
		  , #{dbCategory}
		  , #{dbPin}  	
		  )
	</insert>		

	<insert id="insertCommunityFileList">
		insert
		  into community_files
		  (
		    cf_no
		  , cf_category
		  , cf_ref_no
		  , cf_origin_name
		  , cf_change_name
		  , cf_path
		  )  
		  values
		  (
		    seq_community_files.nextval
		  , 'D'
		  , seq_d_board.currval
		  , #{cfOriginName}
		  , #{cfChangeName}
		  , #{cfPath}
		  )
	</insert>

	<select id="selectCommunityFile" resultMap="communityFilesResult">
		select
		       cf_change_name
		     , cf_path
		  from community_files
		 where cf_no = #{cfNo} 
	</select>
	
	<delete id="deleteCommunityFile">
		delete
		  from community_files
		 where cf_no = #{cfNo} 
	</delete>
	
	<update id="updateDeptBoard">
		update
			   d_board
		   set db_title = #{dbTitle}
		     , db_content = #{dbContent}
		     , db_category = #{dbCategory}
		     , db_pin = #{dbPin}
		     , db_date = sysdate
		 where db_no = #{dbNo}   	   
	</update>
	
	<insert id="updateCommunityFileList">
		insert
		  into community_files
		  (
		    cf_no
		  , cf_category
		  , cf_ref_no
		  , cf_origin_name
		  , cf_change_name
		  , cf_path
		  )  
		  values
		  (
		    seq_community_files.nextval
		  , 'D'
		  , #{cfRefNo}
		  , #{cfOriginName}
		  , #{cfChangeName}
		  , #{cfPath}
		  )
	</insert>
	
	<update id="deleteDeptBoard">
		update
			   d_board
		   set db_status = 'N'
		 where db_no = #{dbNo}   	   
	</update>
	
	<update id="deleteCommunityReplyList">
		update
			   community_reply
		   set cr_status = 'N'
		 where cr_category = 'D'
		   and cr_ref_no = #{dbNo}  	   
	</update>	
	
	<delete id="deleteCommunityFileList">
		delete
		  from community_files
		 where cf_category = 'D'
		   and cf_ref_no = #{dbNo}	
	</delete>
	
	<select id="selectReplyList" resultMap="communityReplyResult">
		select
		       cr_no
		     , cr_user_no
		     , user_rank     
		     , user_name
		     , user_filepath
		     , cr_category
		     , cr_content
		     , cr_ref_no
		     , to_char(cr_date, 'YYYY.MM.DD AM HH:MI:SS') as "cr_date"
		  from community_reply
		  join users on (cr_user_no = user_no)
		 where cr_status = 'Y'
		   and cr_category = 'D'
		   and cr_ref_no = #{dbNo}
		 order
		    by cr_no desc
	</select>	
	
	<insert id="insertReply">
		insert
		  into community_reply
		  (
		    cr_no
		  , cr_user_no
		  , cr_category
		  , cr_content
		  , cr_ref_no
		  )
		  values
		  (
		    seq_community_reply.nextval
		  , #{crUserNo}
		  , 'D'
		  , #{crContent}
		  , #{crRefNo}
		  )    
	</insert>
	
	<update id="increaseReplyCount">
		update
			   d_board
		   set db_reply_count = db_reply_count + 1
		 where db_status = 'Y'
		   and db_no = #{crRefNo}  	   
	</update>
	
	<update id="updateReply">
		update
			   community_reply
		   set cr_content = #{crContent},
		   	   cr_date = sysdate
		 where cr_status = 'Y'
		   and cr_no = #{crNo} 	   	   
	</update>
	
	<update id="deleteReply">
		update
			   community_reply
		   set cr_status = 'N'
		 where cr_no = #{crNo}  	   
	</update>
	
	<update id="decreaseReplyCount">
		update
			   d_board
		   set db_reply_count = db_reply_count - 1
		 where db_status = 'Y'
		   and db_no = #{crRefNo}  	   
	</update>
	
	<select id="selectMyDeptBoardListCount" resultType="_int">
		select
		       count(*)
		  from d_board
		 where db_status = 'Y'
		   and user_no = #{userNo}	
	</select>
	
	<select id="selectMyDeptBoardList" resultMap="deptBoardResult">
		select
		       db_no
		     , db_title
		     , db_count
		     , to_char(db_date, 'YYYY-MM-DD') as "db_date"
		     , db_reply_count
		  from d_board
		 where db_status = 'Y'
		   and user_no = #{userNo}
		 order
		    by db_no desc	
	</select>			
		
</mapper>
