<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeBoardMapper">

	<resultMap id="noticeBoardResult" type="NoticeBoard">
		<result column="nb_no" property="nbNo" />
		<result column="user_no" property="userNo" />
		<result column="nb_title" property="nbTitle" />
		<result column="nb_content" property="nbContent" />
		<result column="nb_count" property="nbCount" />
		<result column="nb_date" property="nbDate" />
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from n_board
		 where nb_status = 'Y'
	</select>
	
	<select id="selectNoticeBoardList" resultMap="noticeBoardResult">
		select
		       nb_no
		     , user_no  
		     , nb_title
		     , nb_content
		     , nb_count
		     , to_char(nb_date, 'YYYY-MM-DD') as "nb_date"
		  from n_board
		 where nb_status = 'Y'
		 order
		    by nb_no desc
	</select>
	
	<select id="selectAscList" resultMap="noticeBoardResult">
		select
		       nb_no
		     , user_no  
		     , nb_title
		     , nb_content
		     , nb_count
		     , to_char(nb_date, 'YYYY-MM-DD') as "nb_date"
		  from n_board
		 where nb_status = 'Y'
		 order
		    by nb_no asc
	</select>
	
	<select id="selectSearchCount" resultType="_int">
		select
		       count(*)
		  from n_board
		 where nb_status = 'Y'
		 <if test="condition == 'title'">
		   and nb_title
		 </if>  
		 <if test="condition == 'content'">
		   and nb_content
		 </if>  
		   	   like '%' || #{keyword} || '%'
	</select>
	
	<select id="selectSearchList" resultMap="noticeBoardResult">
		select
		       nb_no
		     , user_no  
		     , nb_title
		     , nb_content
		     , nb_count
		     , to_char(nb_date, 'YYYY-MM-DD') as "nb_date"
		  from n_board
		 where nb_status = 'Y'
		 <choose>
		 	<when test="condition == 'title'">
		 		and nb_title
		 	</when>
		 	<otherwise>
		 		and nb_content
		 	</otherwise>
		 </choose>
		 		like '%' || #{keyword} || '%'
		 order
		    by nb_no desc
	</select>
	
	<select id="selectSearchAscList" resultMap="noticeBoardResult">
		select
		       nb_no
		     , user_no  
		     , nb_title
		     , nb_content
		     , nb_count
		     , to_char(nb_date, 'YYYY-MM-DD') as "nb_date"
		  from n_board
		 where nb_status = 'Y'
		 <choose>
		 	<when test="condition == 'title'">
		 		and nb_title
		 	</when>
		 	<otherwise>
		 		and nb_content
		 	</otherwise>
		 </choose>
		 		like '%' || #{keyword} || '%'
		 order
		    by nb_no asc
	</select>
	
</mapper>
