<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="projectMapper">

	<resultMap id="projectResult" type="Project">
		<result column="PRO_NO" property="proNo" />
		<result column="PRO_TITLE" property="proTitle" />
		<result column="PRO_GRANT_WHETHER" property="proGrantWhether" />
		<result column="PRO_CREATE_DATE" property="proCreateDate" />
		<result column="PRO_STATUS" property="proStatus" />
		<result column="PRO_MANAGER" property="proManager" />
		<result column="PRO_NUMBERPEOPLE" property="proNumberPeople" />
		<result column="PRODEPT" property="proDept" />
		<result column="USER_NAME" property="deptUserName" />
		<result column="USER_NO" property="deptUserNo" />
		<result column="PRO_USERNAME" property="proUserName" />
	</resultMap>
	
	
	<resultMap id="workBoardResult" type="workBoard">
		<result column="WORKBOARD_NO" property="workBoardNo" />
		<result column="PRO_NO" property="proNo" />
		<result column="USER_NO" property="userNo" />
		<result column="WORK_MANAGER" property="workManager" />
		<result column="WORK_STARTDATE" property="workStartDate" />
		<result column="WORK_ENDDATE" property="workEndDate" />
		<result column="WORK_STATUS" property="workStatus" />
		<result column="WORK_PRIORITY" property="workPriority" />
		<result column="WORK_PROGRESS" property="workProgress" />
		<result column="WORK_CONTENT" property="workContent" />
		<result column="WORK_CREATE_DATE" property="workCreateDate" />
		<result column="BOARD_STATUS" property="boardStatus" />
		<result column="WORKBOARD_WRITER" property="workBoardWriter" />
		<result column="PRO_NUMBERPEOPLE" property="proNumberPeople" />
		<result column="WORK_TITLE" property="workTitle" />
		<result column="ATTACH_ORIGIN_NAME" property="atOriginName" />
		<result column="ATTACH_CHANGE_NAME" property="atChangeName" />
	</resultMap>
	
	
	<select id="selectList" resultMap="projectResult">
		select
		    PRO_NO
		  , PRO_TITLE
		  , PRO_GRANT_WHETHER
		  , PRO_CREATE_DATE
		  , PRO_MANAGER
		  , PRO_NUMBERPEOPLE
		  , (
		      select listagg(d.dept_name, ', ') within group(order by d.dept_name)
		        from dept d, project_dept pd
		       where d.dept_no = pd.dept_no
		         and p.pro_no = pd.pro_no
		    ) PRODEPT
		from project p
		where PRO_STATUS = 'Y'
		order
		  by PRO_NO desc
	
	</select>

	<select id="selectMem" resultMap="projectResult">
		select
               USER_NAME
             , USER_NO
		  from USERS
		 where DEPT_NO = #{num}
	</select>
	
	
	<!-- 프로젝트 내용 insert  -->
	<insert id="insertProject">
		insert
		  into PROJECT
		  	 (
			   PRO_NO
			 , PRO_TITLE
			 , PRO_GRANT_WHETHER
			 , PRO_MANAGER
			 , PRO_NUMBERPEOPLE
		     )
		values
		     (
		       seq_project.nextval
		     , #{proTitle}
		     , #{proGrantWhether}
		     , #{proManager}
		     , #{proNumberPeople}
		     )
	</insert>
	
	<!-- 프로젝트 참여멤버  insert  -->
	<insert id="insertMember">
		insert
		  into PROJECT_MEMBER
		  	 (
		  	   PRO_NO
			 , USER_NO
		     )
		values
		     (
		  	   seq_project.currval
		  	 , #{userNo}
		     )
	</insert>
	
	<!-- 프로젝트 참여부서 insert  -->
	<insert id="insertDept">
		insert
		  into PROJECT_DEPT 
		  	 (
		  	   PRO_NO
			 , DEPT_NO
		     )
		values
		     (
		  	   seq_project.currval
		  	 , #{deptNo}
		     )
	</insert>
	
	
	<update id="deleteProject">
		update
		       PROJECT
		   set PRO_STATUS='N'
	     where PRO_NO = #{proNo}
	</update>
	
	
	<select id="selectProject" resultMap="workBoardResult">
		select
		       WORKBOARD_NO
			 , USER_NO
			 , PRO_NO
			 , WORK_MANAGER
			 , WORK_STARTDATE
			 , WORK_ENDDATE
			 , WORK_STATUS
			 , WORK_PRIORITY
			 , WORK_PROGRESS
			 , WORK_CONTENT
			 , TO_CHAR(WORK_CREATE_DATE,'YYYY-MM-DD') "WORK_CREATE_DATE"
			 , WORKBOARD_WRITER
			 , WORK_TITLE
             , ATTACH_ORIGIN_NAME
             , ATTACH_CHANGE_NAME
			from WORKBOARD
            JOIN ATTACHMENT USING (WORKBOARD_NO)
			where PRO_NO = #{proNo}
			  AND BOARD_STATUS='Y'
			  order
			  by WORKBOARD_NO desc
	</select>

	<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 여기부터 게시판 매퍼 -@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
	
	<select id="selectOther" resultMap="projectResult">
            select
                PRO_NO
	    	  ,	PRO_MANAGER
			  , PRO_NUMBERPEOPLE
			  , (
			      select listagg(u.user_name, ',') within group(order by u.user_name)
	               from users u, project_member pm
			       where u.user_no = pm.user_no
			         and p.pro_no = pm.pro_no
			    ) PRO_USERNAME
			from project p
			where PRO_STATUS = 'Y'
	          and pro_no = #{proNo}
			order
			  by PRO_NO desc
			  
	</select>
	
	
	
	<insert id="insertWorkBoard" >
		insert 
		  into WORKBOARD
		  ( 
		   	WORKBOARD_NO
		  , PRO_NO 
		  ,	USER_NO
		  ,	WORK_MANAGER
		  ,	WORK_STARTDATE
		  ,	WORK_ENDDATE
		  ,	WORK_STATUS
		  ,	WORK_PRIORITY
		  ,	WORK_PROGRESS
		  ,	WORK_CONTENT
		  ,	WORKBOARD_WRITER
		  , WORK_TITLE
		 
		  )
		  VALUES(
		    seq_workboard.nextval
		  , #{proNo} 
		  ,	#{userNo}
		  ,	#{workManager}
		  ,	#{workStartDate}
		  ,	#{workEndDate}
		  ,	#{workStatus}
		  ,	#{workPriority}
		  ,	#{workProgress}
		  ,	#{workContent}
		  ,	#{workBoardWriter}
		  , #{workTitle}
		  )
	</insert>
	
	<insert id="insertAttachment" >
		insert 
		  into ATTACHMENT
		  ( 
			  ATTACH_NO
			, WORKBOARD_NO
			, ATTACH_ORIGIN_NAME
			, ATTACH_CHANGE_NAME
			, ATTACH_STATUS
		 
		  )
		  VALUES(
		  	  SEQ_ATTACHMENT.nextval
			, seq_workboard.currval
			, #{atOriginName}
			, #{atChangeName}
			, 'Y'

		  )
	</insert>
	
	<select id="selectMyWork" resultMap="workBoardResult">
		select
		       WORKBOARD_NO
			 , USER_NO
			 , PRO_NO
			 , WORK_MANAGER
			 , WORK_STARTDATE
			 , WORK_ENDDATE
			 , WORK_STATUS
			 , WORK_PRIORITY
			 , WORK_TITLE
			from WORKBOARD
            JOIN ATTACHMENT USING (WORKBOARD_NO)
			where PRO_NO = #{proNo}
			  AND BOARD_STATUS='Y'
              AND WORK_MANAGER= #{workManager}
			  order
			  by WORKBOARD_NO desc
	
	
	
	
	
	</select>
</mapper>
