<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="projectMapper">

	<resultMap id="projectResult" type="Project">
		<result column="PRO_NO" property="proNo" />
		<result column="PRO_TITLE" property="proTitle" />
		<result column="PRO_GRANT_WHETHER" property="proGrantWhether" />
		<result column="PRO_CREATE_DATE" property="proCreateDate" />
		<result column="PRO_STATUS" property="proStatus" />
		<result column="PRO_MANAGER" property="proManager" />
		<result column="PRO_NUMBERPEOPLE" property="proNumberPeople" />
		<result column="PRODEPT" property="proDept" />
		<result column="USER_NAME" property="deptUserName" />
		<result column="USER_NO" property="deptUserNo" />
	</resultMap>
	
	
	<select id="selectList" resultMap="projectResult">
		select
		    PRO_NO
		  , PRO_TITLE
		  , PRO_GRANT_WHETHER
		  , PRO_CREATE_DATE
		  , PRO_MANAGER
		  , PRO_NUMBERPEOPLE
		  , (
		      select listagg(d.dept_name, ', ') within group(order by d.dept_name)
		        from dept d, project_dept pd
		       where d.dept_no = pd.dept_no
		         and p.pro_no = pd.pro_no
		    ) PRODEPT
		from project p
		where PRO_STATUS = 'Y'
		order
		  by PRO_NO desc
	
	</select>

	<select id="selectMem" resultMap="projectResult">
		select
               USER_NAME
             , USER_NO
		  from USERS
		 where DEPT_NO = #{num}
	</select>
	
	
	<!-- 프로젝트 내용 insert  -->
	<insert id="insertProject">
		insert
		  into PROJECT
		  	 (
			   PRO_NO
			 , PRO_TITLE
			 , PRO_GRANT_WHETHER
			 , PRO_MANAGER
			 , PRO_NUMBERPEOPLE
		     )
		values
		     (
		       seq_project.nextval
		     , #{proTitle}
		     , #{proGrantWhether}
		     , #{proManager}
		     , #{proNumberPeople}
		     )
	</insert>
	
	<!-- 프로젝트 참여멤버  insert  -->
	<insert id="insertMember">
		insert
		  into PROJECT_MEMBER
		  	 (
		  	   PRO_NO
			 , USER_NO
		     )
		values
		     (
		  	   seq_project.currval
		  	 , #{userNo}
		     )
	</insert>
	
	<!-- 프로젝트 참여부서 insert  -->
	<insert id="insertDept">
		insert
		  into PROJECT_DEPT 
		  	 (
		  	   PRO_NO
			 , DEPT_NO
		     )
		values
		     (
		  	   seq_project.currval
		  	 , #{deptNo}
		     )
	</insert>
	
</mapper>
